



:root {
  --primary: #2196f3;
  --primary-shade: #64b5f6;
  --text-clr: #fff;
  --text-lighter: #c4c4c4;
  --text-dark: var(--primary);
  --body-bg: #2d2d2d;
  --body-bg-dark: #181717;
  --font-sans: "Google Sans",sans-serif;
  --footer-bg: var(--body-bg-dark);
  --about-bg: var(--body-bg-dark);
  --contribute-bg: var(--body-bg);
  --menu-hover: var(--body-bg-dark);
  --card-text-clr: #fff;
  --card-text-lighter: #c4c4c4;
  --card-bg: var(--body-bg-dark);
  --card-bg-hover: var(--body-bg-dark);
  --menu-mobile-hover: #4a5568;
}


/* brand start */

#navigationbar{
  background: var(--body-bg);
  padding: 40px 103px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
    
}
#pixelexperience{
  position: relative;
  min-width: 215px;
}
#pixelexperience a{
  color: white;
  font-weight: 700;
  font-size: 30px;
  text-decoration: none;
  position: relative;
}
#pixelexperience a span{
  font-weight: 400;
}
#pixelexperience a::before{
  content: "";
  width: 60px;
  height: 2px;
  position: absolute;
  top: 36px;
  left: 10px;
  background: red;
}
#pixelexperience a::after{
  content: "";
  width: 27px;
  height: 2px;
  position: absolute;
  top: 36px;
  left: 70px;
  background: rgb(255, 174, 0);
}
#pixelexperience a span::before{
  content: "";
  width: 45px;
  height: 2px;
  position: absolute;
  top: 36px;
  left: 106px;
  background: green;
}
#pixelexperience a span::after{
  content: "";
  width: 60px;
  height: 2px;
  position: absolute;
  top: 36px;
  left: 150px;
  background: var(--primary);
}
/* brand end */

/* navigation start */


.navlinks-container{
  display: flex;
  list-style: none;
  justify-content: space-around;  
  }
  
.navlink-element{
  padding: 8px 25px;
  margin: 0 10px;
  display: flex;
  align-items: center;
  border-radius: 6px;
  
}
.navlink-element.active{
  background: var(--primary);
}
.navlink-element:hover:not(.active){
  background: black;
}
.navlink-i{
  color: white;
  }
.navlink-a{
  text-decoration: none;
  color: white;
  padding-left: 5px;
  font-weight: 500;
}
.navlink-a:hover{
  color: white;
}
/* navigation end */

/* making navigation responsive start */
@media (max-width:768px){
  .navbtn{
    padding: 15px 0;
    height: 50px;
    width: 50px;
    display: flex;  
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: var(--primary);
    position: absolute;
    bottom: 20px;
    right: 20px;
    border-radius: 100%;
    z-index: 11;
    transition: 200ms;
    cursor: pointer;
  }

  .navbtn::before, .navbtn::after{
    content: "";
    width: 20px;
    height: 3px;
    background: #fff;
    border-radius: 3px;
  }


/* nav button clicked start */
  .clicked{
    padding: 22px;
    
}


.clicked::before, .clicked::after{
  content: "";
  width: 20px;
  height: 3px;
  background: #fff;
  border-radius: 3px;
}
.clicked::before{
  transform: rotate(45deg);
}
.clicked::after{
  transform: rotate(-45deg);
}


/* nav button clicked end */
  
  .navlinks-container{
    display:none;
    
  }
  #pixelexperience{
    margin: auto;
  }
/* mobile navigation menu start */
  .mobnav{
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 4px;
    right: 15px;
    border-radius: 20px;
    box-shadow: 5px 5px 15px;
    background: var(--primary);
    padding: 20px;
    padding-bottom: 50px;
    z-index: 10;
   /* mobile navigation menu ends */ 
    
  }
  
  
}


/* making navigation responsive end */

/* hero search bar start */

#top-search{
  background: var(--primary);
  padding: 150px 0;
  display: flex;
  justify-content: center;
}
#searchbox{
  min-width: 600px;
  background-color: var(--primary-shade);
  border: none ;
  border-radius: 6px;
  font-size: 18px;
  padding: 5px 2px 8px 25px;
  color: white;
  font-weight: 500;
  
  
}
@media (max-width: 768px){
  #searchbox{
    min-width: 80vw;
    font-size: 16px;
  }
}
#searchbox::placeholder{
  color: white;
}
/* hero search bar end */
